<% provide(:title, "About") %>
<h1>About</h1>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>Our mission is to allow software developers to show their skills and passion so businesses know where to look when they need to hire!</h3>
    </div>
</div>
